

/* Move down content because we have a fixed navbar that is 50px tall */
body {

    height: 100%;
}

footer {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    position: fixed;
    width: 100%;
    bottom: 0;
}
.avatar-profile img {
    border-radius: 50%;
    height: 42px;
    width: 42px;
}


/*
 * Global add-ons
 */
/*.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


 * Top navigation
 * Hide default border to remove 1px line.
 
.navbar-fixed-top {
    border: 0;
}
div.wrapper{
   
    height: calc(100% - 120px);
}

 * Sidebar
 
 Hide for mobile, show later 

.sidebar {
    
    height: inherit;
    width: 64px;
    top: 54px;
    left: 0;
    
    display: block;
    padding: 0px 0px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;  Scrollable contents if viewport is shorter than content. 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

 Sidebar navigation 
.nav-sidebar {
    margin-right: -21px;  20px padding + 1px border 
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #0091ea;
    margin-left: 0px;

}
.list-divider{
    margin-top: 0px;
    background-color:appworkspace;
    padding: 2px 10px  !important;
}
.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}
.count-container{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: blue;
    color: white;
    font-size: 12px;
    text-align: center;
}
message box

****************CHAT BODY ******************
.conversation {
    background-color: #f7f7f7;
    min-height:inherit;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.chat-header{
    height: 56px;
}
.chat-body{
    height: inherit;
}
.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}
.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}
.chat-body .answer.left .avatar {
    left: 0;
}
.chat-body .answer .avatar {
    bottom: 36px;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}
.chat-body .answer.left .avatar .status {
    right: 4px;
}
.chat-body .answer .avatar .status {
    bottom: 0;
}
.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}
.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}
.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
RIGHT
.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}
.chat-body .answer.right .avatar .status {
    left: 4px;
}
.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}
.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

*************ADD FORM **************
.chat-body .answer-add {
    clear: both;
    position: relative;
    margin: 20px -20px -20px;
    padding: 20px;
    background: #46be8a;
}
.chat-body .answer-add input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
}
.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}
.chat-body .answer-add .answer-btn-1 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
    right: 56px;
}
.chat-body .answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}
.chat-body .answer-add .answer-btn-2 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
    right: 20px;
}
.chat input::-webkit-input-placeholder {
    color: #fff;
}

.chat input:-moz-placeholder {  Firefox 18- 
    color: #fff;  
}

.chat input::-moz-placeholder {   Firefox 19+ 
    color: #fff;  
}

.chat input:-ms-input-placeholder {  
    color: #fff;  
}
.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}

#searchBox-inner input {
  box-shadow: none;
}

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
}
.sideBar-body .container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-body:hover {
    background-color: #f2f2f2;
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}


.sideBar-main  {
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-name {
    padding: 10px !important;
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}
.gender-meta {

    font-size: 12px;
    padding: 1% !important;
    color: rgba(10, 0, 240,.4);
    vertical-align: baseline;
}



 * Main content
 

.main {
    padding: 0 !important;
    overflow-y: auto;
    height: calc(100% - 50px);
    background-color: #f7f7f7;

}

@media (min-width: 768px) {
    .main {
        background-color: #f7f7f7;
    }
}
.main .page-header {
    margin-top: 0;
}
.sideBar-list{
    height: calc(100%- 110px);
    overflow-y: auto;
}
.main-info{
    height: 150px;
}
.main-avatar img{
    width: 187px;
    height: auto;
}
.page-info {
    list-style: none;
    margin-left: -130px;   
}
.page-info input, select{
    width: 50%;
}
.page-info select{
    width: 50%;
}
.member-body{

}
.member-main{
    margin: 0px;
    padding: 0px;
}

.member-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 56px;
    margin: 0 !important;
    cursor: pointer;
}

.member-body:hover {
    background-color: #f2f2f2;
}

.member-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}


.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

.member-name {
    padding: 10px !important;
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}


.page-info li:first-child{
    margin-bottom: 50px;
}

 * Placeholder dashboard ideas
 

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}
.main-info{
    height: 150px;
}*/